@import "./normalize";
@import "./fonts";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    max-width: 1920px;
    width: 100%;
    height: auto;
}

.header-container {
    max-width: 1410px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.header-container__top-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 18px;

    .add {
        display: none;
    }

    .search-icon {
        display: none;
    }

    .header-logo {
        display: flex;
        width: 384px;
        align-items: center;
        gap: 30px;

        button {
            display: flex;
            display: flex;
            max-width: 180px;
            width: 100%;
            height: 54px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            flex-shrink: 0;
            border-radius: 12px;
            background: #F56E1E;
            border: none;
            cursor: pointer;
            color: #FCFCFC;
            font-family: "Golos";
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px;
            /* 155.556% */
        }
    }

    .header__input-wraper {
        display: flex;
        align-items: center;

        input {
            display: flex;
            width: 708px;
            height: 54px;
            padding: 12px;
            justify-content: space-between;
            align-items: center;
            border-radius: 8px;
            border: none;
            border: 1px solid rgb(166, 163, 163);
        }

        i {
            font-size: 20px;
            opacity: 0.7;
            margin-left: -25px;
        }
    }

    .header--menu {
        display: flex;
        width: 258px;
        align-items: flex-start;
        gap: 30px;

        .menu__icon-text {
            width: 66px;
            height: 54px;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                color: #6E7191;
                font-family: "Golos";
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
                /* 133.333% */
            }
        }
    }
}

.header-container__bottom-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    .dinamik {
        display: flex;
        width: 174px;
        padding: 8px 8px 9px 8px;
        justify-content: center;
        align-items: center;
        gap: 4px;
        border-radius: 40px;
        background: #F1F1F1;
        color: #A0A3BD;
        font-family: "Golos";
        font-size: 9px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .language {
        display: flex;
        align-items: center;
        gap: 4px;

        p {
            color: #6E7191;
            font-family: "Golos";
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 16px;
            /* 114.286% */
        }
    }

    .bottom-part--menu {
        display: flex;
        gap: 28px;

        li {
            list-style: none;
            color: #6E7191;
            font-family: "Golos";
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            cursor: pointer;
            line-height: 30px;
            /* 214.286% */
        }
    }

    .get-touch {
        display: flex;

        .networks {
            display: flex;
            align-items: center;
            gap: 24px;
            margin-right: 32px;
        }
    }

    span {
        color: #F56E1E;
        font-family: "Golos";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
        /* 187.5% */
        margin-right: 24px;
    }

    .phone {
        display: flex;
        display: flex;
        width: 154px;
        padding: 0px 12px;
        align-items: center;
        gap: 8px;
        border: none;
        border-radius: 8px;
        background: #F56E1E;
        color: #FFF;
        font-family: "Golos";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        /* 214.286% */
    }
}

// main scss

.main {
    max-width: 1920px;
    width: 100%;
    height: auto;
}

.main__container {
    max-width: 1410px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}




.title {
    display: flex;
    width: 1409px;
    height: 146px;
    padding: 16px 0px 50px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;

    h1 {
        color: #4E4B66;

        /* H1 */
        font-family: "Golos";
        font-size: 34px;
        font-style: normal;
        font-weight: 700;
        line-height: 38px;
        /* 111.765% */
    }

    span {
        color: #6E7191;
        display: flex;
        /* breadcrumbs */
        font-family: "Golos";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        p {
            color: #F56E1E;
            font-family: "Golos";
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}

.main-part {
    max-width: 1410px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    gap: 30px;
}

.main-text {

    .big-text {
        width: 670px;
        height: 121px;
        color: #6E7191;

        /* body 22 */
        font-family: 'Golos Text';
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        /* 163.636% */
    }

    .small-text {
        width: 600px;
        display: block;
        color: #6E7191;
        font-family: 'Golos';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        /* 122.222% */
    }
}

.footer {
    max-width: 1920px;
    width: 100%;
    height: auto;

    .footer-networks {
        width: 1410px;
        height: auto;
        margin: 0 auto;

        h1 {
            color: #6E7191;
            margin: 120px 0 30px 0;

            font-family: "Golos";
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 36px;
            /* 112.5% */
        }

    }
}

.buttons1 {
    width: 1410px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    .button1 {
        display: flex;
        width: 330px;
        height: 90px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        flex-shrink: 0;
        border-radius: 12px;
        background: #1F69FB;
        border: none;
    }

    .button2 {
        display: flex;
        width: 330px;
        height: 90px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        flex-shrink: 0;
        border-radius: 12px;
        background: #CD242F;
        border: none;
    }

    .button3 {
        display: flex;
        width: 330px;
        height: 90px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        flex-shrink: 0;
        border-radius: 12px;
        background: #FDBF32;
        border: none;
    }

    .button4 {
        display: flex;
        width: 330px;
        height: 90px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        flex-shrink: 0;
        border-radius: 12px;
        background: #FD3249;
        border: none;
    }

    .button5 {
        border-radius: 12px;
        background: #FD3249;
        display: flex;
        width: 330px;
        height: 90px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        flex-shrink: 0;
        border: none;
    }

    .button6 {
        display: flex;
        width: 330px;
        height: 90px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        flex-shrink: 0;
        border-radius: 12px;
        background: #F8F8F8;
        border: none;
    }
}



@media screen and (max-width: 1335px) {
    .header {
        width: 100%;
        height: auto;

        .header__input-wraper {
            display: none;
        }
    }
}

@media screen and (max-width: 900px) {
    .header {
        width: 100%;
        height: auto;

        .header-container__bottom-part {
            .bottom-part--menu {
                display: none;
            }
        }
    }

    .main-part {
        flex-direction: column;
    }

    .logos {
        img {
            width: 210px;
            height: 50px;
        }
    }
}

@media screen and (max-width: 768px) {
    .header {
        width: 100%;
        height: auto;

        .header-logo {
            button {
                padding: 0 0 0 0;

                p {
                    display: none;
                }
            }
        }
    }

}

@media screen and (max-width: 375px) {
    .header {
        width: 100%;
        height: auto;
    }

    .header-container {
        max-width: 375px;
        width: 100%;
        padding: 11px 16px 10px 17px;

        .header-container__bottom-part {
            display: none;
        }
    }

}